@require '../../common/styles/global-variables.styl'

.consultation-offer
  padding: $default-offset * 10 0 $default-offset * 5 0

  &__text
    font-size: 28px
    font-family: $font-family-general--light
    color: $white
    text-align: center

    &--amaranth-color
      color: $amaranth

    &--uppercase
      text-transform: uppercase