@require '../../common/styles/global-variables.styl'

//.feedback-form
//  padding: $default-offset * 5 0 $default-offset * 3
//  display: flex
//  flex-direction: column
//  justify-content: center
//  @media(min-width: $medium)
//    flex-direction: row
//
//  &__label
//    margin-bottom: $default-offset * 2
//    @media(min-width: $medium)
//      margin-bottom: 0
//
//  &__input
//    margin-right: $default-offset
//    padding: $default-offset * 2
//    size(100%, 50px)
//    border: 1px solid $rhino
//    background-color: $firefly
//    font-size: 14px
//    font-family: $font-family-general--light
//    color: $white
//    @media(min-width: $medium)
//      size(215px, 50px)