@require 'mixins.styl'
@require 'fonts.styl'

/* Colors */

$firefly = #0E1B2C
$amaranth = #EF4258
$white = #ffffff
$danube = #779CCE
$big-stone = #1A2C43
$athens-gray = #F7F8FA
$heather = #bbc5d3
$rhino = #293f5d
$tropical-blue = #c2d5f8
$blur = rgba(0, 0, 0, 0.48)
$cello = #233d5f


/* Offsets */

$default-offset = 10px

/* Fonts */

$font-family-general--light = 'Montserrat-Light'
$font-family-general--regular = 'Montserrat-Regular'
$font-family-general--medium = 'Montserrat-Medium'
$font-family-general--semi-bold = 'Montserrat-SemiBold'
$font-family-general--bold = 'Montserrat-Bold'


/* Screen */

$extra-large = 1200px
$large = 992px
$medium = 768px
$small = 576px

/* Helpers */

$path-to-images = '../img/'