@require '../../common/styles/global-variables.styl'

.button
  padding: 0 $default-offset * 4
  height: 50px
  font-family: $font-family-general--semi-bold

  &--amaranth
    background-color: $amaranth
    text-transform: uppercase
    border: none
    font-size: 13px
    color: $white

  &--firefly
    width: 440px
    color: $white
    text-transform: uppercase
    background-color: $firefly

  &--white
    font-size: 11px
    border: 1px solid $heather
    background-color: $white
    color: $heather
    box-shadow: 0 3px 15px rgba(16, 39, 70, 0.13)