@require '../../common/styles/global-variables.styl'

.about-factory
  position: relative
  @media(min-width: $large)
    height: 552px

  &__part-right
    padding-top: $default-offset * 3
    @media(min-width: $large)
      padding-top: 0
    &::after
      display: none

  &__part-bg-img
    display: none
    max-height: 90%
    @media(min-width: $large)
      display: block

  &__container
    position: relative
    padding-top: $default-offset * 6
    height: 100%
    background-color: $athens-gray
    &::after
      position: absolute
      top: 0
      left: 97%
      content: ''
      background-color: $athens-gray
      size(1000%, 100%)
      z-index: 1

  &__title
    @media(min-width: $large)
      position: absolute
      top: 90px
      right: 0
      z-index: 1

  &__list
    list-style-type: none

  &__item
    padding-bottom: $default-offset * 1.5